#Sat Mar 09 21:34:54 CET 2002
# for chatMessages:
#  msgNo    =  message, send immediatly
keyMsg1Text = Bite my shiny metal ass%21,false
keyMsg2Text = Dodge THIS%21,false
keyMsg3Text = May the force be with me%21,false
keyMsg4Text = +,false
keyMsg5Text = +,false
keyMsg1Code = 112
keyMsg2Code = 113
keyMsg3Code = 114
keyMsg4Code = 115
keyMsg5Code = 116
keyZoomInCode  = %2B
keyZoomOutCode = -
keyShowFlag6Code = 54
keyShowFlag5Code = 53
keyShowFlag4Code = 52
keyShowFlag3Code = 51
keyShowFlag2Code = 50
keyShowFlag1Code = 49