#Sat Mar 09 21:34:54 CET 2002
# for chatMessages:
#  msgNo    =  message, send immediatly
keyMsg1Text = Bite+my+shiny+metal+ass%21,true
keyMsg2Text = Dodge+THIS%21,false
keyMsg3Text = Stupid+can+opener%21+You+killed+my+father+and+now+you%27ve+come+back+for+me%21,false
keyMsg4Text = I+will+hit+it%21,false
keyMsg5Text = Maybe+you+can+interface+with+my+ass%21+By+biting+it%21,false
keyMsg1Code = 112
keyMsg2Code = 113
keyMsg3Code = 114
keyMsg4Code = 115
keyMsg5Code = 116
keyZoomInCode  = 521
keyZoomOutCode = 45
keyShowFlag6Code = 54
keyShowFlag5Code = 53
keyShowFlag4Code = 52
keyShowFlag3Code = 51
keyShowFlag2Code = 50
keyShowFlag1Code = 49
defaultAnimationSetting=animationSettingsMedium
animationSettingsSlow=1%2B20%2B90%2B10%2B100%2B2000%2B30%2B2000
animationsSettingsMedium=1%2B5%2B45%2B5%2B100%2B1000%2B10%2B1000
animationSettingsFast=5%2B1%2B15%2B1%2B1%2B200%2B1%2B500
areMovementAnimationsEnabled=true

