keyMsg1Text = Bite my shiny metal ass!
keyMsg2Text = Dodge THIS!
keyMsg3Text = May the force be with me!
keyMsg4Text = Na-nana-na-na
keyMsg5Text = Oh-NOOOOOOOoooooooooooo!
keyMsg1Code = 112
keyMsg2Code = 113
keyMsg3Code = 114
keyMsg4Code = 115
keyMsg5Code = 116
keyZoomInCode  = +
keyZoomOutCode = -

