body { background-color:#373737; 
  background-image:url(images/garage2.jpg);
  font-family:verdana,helvetica,sans-serif; 
  color:#cec4c4; 
  margin-left: 3em; margin-right: 3em; 
  margin-top: 2em; margin-bottom: 2em; 
}

pre {
    font-family: monospace;
}

em {
    font-style: inherit;
    font-weight:bold;
    color:#40bf40;
}

h1 { color:#40bf40;
}

h2 { color:#40bf40;
}

div { 
  margin-top: 10px;
  padding:1em
 }

div.navi { 
  background-image:url(images/semigray.png);
  border:1px solid black;
}

div.content { 
  background-color:#252525;
  border:1px solid #40bf40;
}

a:link { text-decoration:none; color:red; font-weight:bold; }
a:visited { text-decoration:none; color:darkred; font-weight:bold; }
a:hover { text-decoration:underline; color:red; font-weight:bold; }
a:active { text-decoration:none; color:red; font-weight:bold; }

